@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Varela+Round&display=swap');

.food {
    background-color: #FFF5E4;
    text-align: right;
    direction:rtl;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
 
}
  
  
  h1 {
    color:#f77070;
    margin-right: 50px;
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
  }
  p {
    font-size: 40px;
    color:#e2adad;
}
.ingredients li {
    border-bottom: 2px solid #FF9494;
    width: 700px; ;
    font-size: 25px;
    
}
h2 {
    color:#FF9494;
    font-size: 50px;
  }
  img {
    margin-right: 50px;
    border-radius: 10px;
    width: 700px;
    transition: 1s;
  }
  
  img:hover {
    width: 800px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  .cook {
    margin-right: 50px;
    border-radius: 10px;
    width: 100x;
    height: 200x;
    transition: 1s; 
  }

  .pn {
    font-size: 20px;
    color:#FF9494;
    letter-spacing: 5px;
    text-align: center;
    direction:ltr;

  }
 
  ol {
    font-size: 25px;
    

  }